<header>
  <div class="collapse bg-dark" id="navbarHeader">
      <div class="container border-bottom">
          <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                  <h4 class="text-white">Sobre nós</h4>
                  <p class="text-muted">
                      <strong></strong>Os transtornos emocionais geralmente surgem durante a adolescência. Além da depressão ou ansiedade, os adolescentes têm muitas outras doenças psicológicas como transtorno bipolar, transtorno obsessivo compulsivo (TOC), distúrbios alimentares e esquizofrenia. E essas doenças se agravaram ainda mais no período da pandemia. Como podemos ajudar os adolescentes a passar por essa fase de acordo com a situação atual?
                  </p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                  <h4 class="text-white">Páginas importantes:</h4>
                  <ul class="list-unstyled">
                      <li>
                      <a href="../contatos/index.html" class="text-white">Números 

                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-telephone-inbound-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z"/>
                          </svg>
                      </a>
                      </li>

                      <li>
                      <a href="../feed_relatos/index.html" class="text-white">Relatos 
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-text-left" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                      </a>
                      </li>
                      <li><a href="../admin_contact/index.html" class="text-white">Contato 
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-envelope-exclamation-fill" viewBox="0 0 16 16">
                              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
                              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
                            </svg>
                      </a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
          <a href="../index/index.html" class="navbar-brand d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" height="30" widhth="10" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
              </svg>
              <strong><i>S.A.J.</i></strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
              aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
</header>